@model List<PAV_P1_Grupo02.Models.ViewModels.PersonasViewModel>
@{
    ViewBag.Title = "Personas";
}

<h2>@ViewBag.Title</h2>

<div>
    <a href="~/Personas/Nuevo" class=" btn btn-primary">Registrar persona</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th class="table-danger">ID</th>
                <th class="table-danger">IDENTIFICACIÓN</th>
                <th class="table-danger">NOMBRE</th>
                <th class="table-danger">EDAD</th>
                <th class="table-danger">ESTADO</th>
            </tr>

            @foreach (var oElemento in Model)
            {
                <tr>
                    <td class="table-success">@oElemento.Id</td>
                    <td class="table-success">@oElemento.Identificacion</td>
                    <td class="table-success">@oElemento.NombreCompleto</td>
                    <td class="table-success">@oElemento.Edad</td>
                    <td class="table-success">@oElemento.Estado</td>
                    <td>
                        <a class="btn btn-secondary" href="~/Personas/Editar/@oElemento.Id">Editar</a>
                        <a class="btn btn-danger" href="~/Personas/Eliminar/@oElemento.Id">Eliminar</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>